BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: false
  AfterStruct: false
  AfterEnum: false
  AfterFunction: false
  AfterControlStatement: false
  BeforeElse: true
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

SpaceBeforeAssignmentOperators: true
SpacesInContainerLiterals: true
