# CMake build
/build/
/CMakeFiles/
/CMakeCache.txt
Makefile
cmake_install.cmake

# Executables
*.exe
*.out
*.app
*.o
*.obj

# MacOS
.DS_Store
*.dylib

# Windows
*.pdb

# VSCode
.vscode/
*.code-workspace

*.log
*.tmp
*.swp
